appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.10
asn1crypto==1.3.0
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
blinker==1.4
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
enum34==1.1.6
Flask==1.1.1
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.1
ftfy==4.4.3
future==0.18.2
html5lib==1.1
idna==2.8
ipaddress==1.0.23
ipython==5.3.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.10.3
joblib==0.16.0
MarkupSafe==1.1.1
nltk==3.4.5
oauthlib==3.1.0
packaging==20.0
parso==0.7.0
pathlib2==2.3.5
pexpect==4.7.0
pickleshare==0.7.5
pip-review==1.1.0
pip-tools==5.2.1
pprint==0.1
prettyprint==0.1.5
prompt-toolkit==1.0.14
psycopg2==2.7.7
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.5.2
PyJWT==1.7.1
pyparsing==2.4.6
pytz==2020.1
regex==2020.7.14
requests==2.24.0
simplegeneric==0.8.1
six==1.13.0
SQLAlchemy==1.3.12
sqlparse==0.3.1
tqdm==4.48.0
traitlets==4.3.3
twilio==6.44.0
urllib3==1.25.9
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
xmltodict==0.12.0
