appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.24.0
backports.shutil-get-terminal-size==1.0.0
blinker==1.4
cffi==1.11.4
click==6.7
cryptography==2.1.4
cycler==0.10.0
decorator==4.0.11
enum34==1.1.6
Flask==0.10.1
Flask-DebugToolbar==0.10.0
Flask-SQLAlchemy==2.1
functools32==3.2.3.post2
future==0.16.0
idna==2.6
ipaddress==1.0.19
ipython==5.3.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
matplotlib==2.0.1
nltk==3.2.2
numpy==1.12.1
oauthlib==2.0.1
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
pprint==0.1
prettyprint==0.1.5
prompt-toolkit==1.0.14
psycopg2==2.6.1
ptyprocess==0.5.1
pycparser==2.18
Pygments==2.2.0
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-twitter==3.2
pytz==2017.2
requests==2.12.4
requests-oauthlib==0.7.0
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.12
subprocess32==3.2.7
traitlets==4.3.2
twilio==6.10.0
untangle==1.1.0
wcwidth==0.1.7
Werkzeug==0.11.4
xmltodict==0.10.2
