<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">


    <title>Two Pet Minimum</title>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
        <div class="page-header">
         <h1> Two Pet Minimum</h1>
     </div>
        </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <section class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" id="splash">
                <img src="/static/orange_cat.jpg" class="img-responsive center-block" alt="Image of cat" id="cat">
                <p><a href="/search">Find a pair of pets.</a> </p>
            </section>
        </div>
    </div>
            </div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
</body>
</html>