<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">


    <title>Two Cat Minimum</title>
    <meta charset="utf-8">
</head>
<body>

    <div class="container bg-1 text-center">
        <h1> Two Cat Minimum</h1>

    </div>
    
    <div class="container-fluid bg-1">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" id="splash">
                <div class="text-center">
                <h3><a href="/search">Find a pair of pets.</h3> </div>
                </div>
         </div>
    </div>
</div>
<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/orange_cat.jpg" width="1200" height="700">
      </div>

      <div class="item">
        <img src="/static/1.jpg" width="1200" height="700">
     </div>
    
      <div class="item">
        <img src="/static/2.jpg" width="1200" height="700">
     </div>  
    <div class="item">
        <img src="/static/3.jpg" width="1200" height="700">
     </div>       
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
</div>
    
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>