<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <!-- Custom styles for this template -->
    <link href="/static/styles.css" rel="stylesheet">

    <title>Two Pet Minimum</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{pet['name']}} </h1>
            </div>
        </div>
    </div>
        </div>
<div class="container">
    <div class="text">
            <p> {% for photo in pet['media']['photos']['photo']: %}
            {% if loop.first %}  <div class="row">{% endif %}
                 {% if photo['@size'] == 'x' %}
  
            <div class="col-xs-3" >
                <div class="thumbnail">
                 <img class="img-responsive" src="{{ photo['#text'] }}" style="width:100%"></div> </div>
                {% if loop.index is divisibleby 4 %}</div><div class="row">{% endif %}
              {% if loop.last %}</div>{% endif %}
              {% endif %}
              
              {% endfor %}
                </div>

             {{ pet['name'] }} <br>
             {{ pet['lastupdate'] }}<br>
             {{ pet['breeds']['breed'] }}<br>
             Age: {{ pet['age']}}<br>
             Gender: {{ pet['sex']}}<br>
             Size: {{ pet['size']}}<br>
              {{ pet['description']}}<br>
 
             </div>

        </div>
        </div>
        </div>
</div>
 
        </p>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--     </div> -->
</body>
</html>