<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <!-- Custom styles for this template -->
    <link href="/static/styles.css" rel="stylesheet">

    <title>Two Pet Minimum</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{pet['name']}} </h1>
            </div>
        </div>
    </div>
</div>
         
            
<div class="container"> 
     <div class="row">
        <div class="col-xs-6 offset-3">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">


    {% for photo in pet['media']['photos']['photo'] if photo['@size'] == 'x' %}
     

        <div class="item{% if loop.first %} active {% endif %}" id="slide{{ loop.index }}"> 
        <img src="{{ photo['#text'] }}"class="img-responsive" margin="auto" alt="{{pet['name']}}" width="100%" height="100%">
            </div>
  
    {% endfor %}

  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
  <div class="row">
    <div class="col-xs-8 offset-4">
   
  
             {{ pet['name'] }} <br>
             {% if pet['lastupdate'] %}
             {{ pet['lastupdate'] }}<br>
             {% endif %}
             {% for breed in pet['breeds']['breed'] %}
                {% if breed|length > 1 %}
                    {{ breed }}<br>
                {% else %}
                    {% if loop.index == 1 %}
                    {{ pet['breeds']['breed'] }}<br>
                    {% endif %}
             
             {% endif %}
             {% endfor %}

             Age: {{ pet['age']}}<br>
             Gender: {{ pet['sex']}}<br>
             Size: {{ pet['size']}}<br>
              {{ pet['description']}}<br>
              <button class="shelter" data-shelter-id="{{ pet['shelterId'] }}" > More </button>
             <div class="description" id="div_{{pet['shelterId']}}">

             </div>
             </div>
    </row>
 <row>
    <div id="map" style="height: 100%"></div>
    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: uluru,
          zoom: 8
        });
         var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Name of Shelter</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            'sandstone rock formation in the southern part of the '+
            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';


        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: 'Name of Shelter'
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVMRABfKAEyabSunnESwsdxt-Rj2kRtdw&callback=initMap"
    async defer></script>
             </div>
             </div>
 </row>
        </div>
        </div>
        </div>
</div>
  </div>
        </p>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/custom.js"></script>
<!--     </div> -->
</body>
</html>