<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

    <title>Two Pet Minimum</title>
</head>
<body>
<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <div class="page-header">
        <h1>Search Results</h1>
     </div>
        </div>
        </div>
    </div>

            <div class="text">
            <div class="row">
     <p> {% for pet in pet_results: %}

         {% if loop.first %}<div class="row">{% endif %}

            <div class="col-xs-4" >
             {{ pet.lastupdate }}
             {{ pet.pet_name }}
              <img class="img-responsive" src="{{ pet.photo_text }}">
             </div>
           {% if loop.index is divisibleby 3 %}</div><div class="row">{% endif %}
         {% if loop.last %}</div>{% endif %}
 
         {% endfor %}
        </div>

 </div>
</div>
        </p>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--     </div> -->
</body>
</html>