<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">

    <title>Two Pet Minimum</title>
</head>
<body>

     <p> {% for pet in pet_results: %}
            <li> {{ pet.pet_name }}
              <li> {{pet.pet_description}}
                {% for photo in pet.photos %}
                <li> <img src="{{ photo.photo_text }}">
                    {% endfor %}
         {% endfor %}
        </p>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--     </div> -->
</body>
</html>