<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

    <title>Two Pet Minimum</title>
</head>
<body>
<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <div class="page-header">
        <h1>Search Results</h1>
     </div>
        </div>
        </div>
    </div>
    <div class="row">
            <div class="text">
     <p> {% for pet in pet_results: %}
            <li> {{ pet.pet_name }}
            <div class="col-xs-12" >
             <li> <img src="{{ pet.photo_text }}">
             <li> {{ pet.pet_description}}
            <li> {{ pet.shelter_id}}
             </div>
         {% endfor %}
     </div>
 </div>
</div>
        </p>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--     </div> -->
</body>
</html>